unidad3/creation/*.csv
unidad3/creation/terraform.tfstate
unidad3/creation/terraform.tfstate*
unidad3/creation/.terraform.*
unidad3/creation/.terraform/*
unidad3/test/.terraform.*
unidad3/test/.terraform/*
unidad3/test/terraform.tfstate
unidad3/test/terraform.tfstate*
unidad3/testl1/.terraform.*
unidad3/testl1/.terraform/*
unidad3/testl1/terraform.tfstate
unidad3/testl1/terraform.tfstate*
final/*.zip
final/usercreation/*.csv
final/usercreation/terraform.tfstate
final/usercreation/terraform.tfstate*
final/usercreation/.terraform.*
final/usercreation/.terraform/*
final/infra_step_1/terraform.tfstate
final/infra_step_1/terraform.tfstate*
final/infra_step_1/.terraform.*
final/infra_step_1/.terraform/*
final/infra_step_1/my*